.root {
  width: 280px;
}

header {
  background: #00A1E9;
  color: white;
  padding: 4px;
}

.features {
  padding: 4px;

  .feature {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

footer {
  padding: 4px;
  display: flex;
  gap: 4px;
  justify-content: center;

  .link:not(:first-child)::before {
    content: "|";
    margin-right: 4px;
  }
}